{% extends 'base.html' %}


{% block body %}
<div class="container">

  <hr class="col-md-12">
    <h2>Edit Book</h2>
  <hr>
  <p></p>

    <div class="card-body" style="align-items: center; justify-content: center; display: flex;">
    <form method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <label>Book name</label>
            {{ book_form.name }}
          </div>
          <div class="form-group">
            <label>Author</label>
            {{ book_form.author }}
          </div>

          <input type="submit" class="btn btn-primary">
        </form>
    </div>

</div>

{% endblock %}