  
{% extends 'base.html' %}


{% block body %}
<div class="container">

  <hr class="col-md-12">
    <h2>Home</h2>
  <hr>
  <p></p>
    <ul class="list-group">
    <li class="list-group-item disabled">Users</li>
    {% for user in users %}
        <li class="list-group-item"><a href="/{{ user.id }}">
        {% if user.get_full_name %}
            {{ user.get_full_name }}
        {% else %}
            {{ user.username }}
        {% endif %}
        </a><br>
    {% endfor %}
    </ul>
  <div class="card-body" style="align-items: center; justify-content: center; display: flex;">
        <form method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <label>Username</label>
            {{ user_form.username }}
          </div>
          <div class="form-group">
            <label>First name</label>
            {{ user_form.first_name }}
          </div>
          <div class="form-group">
            <label>Last name</label>
            {{ user_form.last_name }}
          </div>
          <div class="form-group">
            <label>Password</label>
            {{ user_form.password }}
          </div>
          <input type="submit" class="btn btn-primary" style="margin:20px 120px" >
        </form>
      </div>
</div>

{% endblock %}